/**************************************/
/**************** Root ****************/
/**************************************/
:root {
    --sidebar: #11152C;
    --documentation: #191E38;
    --navbar: rgb(28, 35, 68);
    --search: rgb(40, 47, 82);
}

html, body {
    color: #F8FAFC;
    background-color: var(--documentation);
}

.medium-zoom-overlay {
    background-color: var(--documentation) !important;
}

/**************************************/
/**************** Cards ***************/
/**************************************/
.card.is-default {
    background-color: #2F365F;
    color: #F8FAFC;
    border: none;
}

/**************************************/
/********** Documentation *************/
/**************************************/
.documentation {
    color: #B8C2CC;
}

.documentation h1 {
    color: #F8FAFC;
}

.documentation h2 a, a:hover {
    color: #DAE1E7;
}

.documentation a {
    color: #3490DC;
}

/**************************************/
/************** Tables ****************/
/**************************************/
table {
  background-color: #11152D;
  color: #F8FAFC;
}

table tr, table td, table th {
  border-width: 1px;
  border-color: #272e56;
}

table tr:hover, table td:hover, table th:hover {
  background-color: #1D2244;
}

/**************************************/
/*************** Search ***************/
/**************************************/
.search-box {
    border: none;
}

.search-box input input:focus {
    background: var(--search);
    color: var(--white);
}

.search-box input:focus {
    background: var(--search);
    color: var(--white);
}

.internal-autocomplete-result {
    background: var(--search);
}

.internal-autocomplete-result ul li .page-title {
    color: var(--white);
}

/**************************************/
/*************** Sidebar **************/
/**************************************/
.sidebar {
    border: none;
    background-color: var(--sidebar);
}

/**************************************/
/*************** Switch **************/
/**************************************/
.switch-label {
    border-color: var(--navbar);
}
